[submodule "controlASV"]
	path = controlASV
	url = https://github.com/AquaRobo/controlASV.git
[submodule "guiASV"]
	path = guiASV
	url = https://github.com/AquaRobo/guiASV.git
[submodule "cvASV"]
	path = cvASV
	url = https://github.com/AquaRobo/cvASV.git

