[submodule "controlWheelchair"]
	path = controlWheelchair
	url = https://github.com/AquaRobo/controlWheelchair.git
[submodule "ComputerVision"]
	path = ComputerVision
	url = https://github.com/AquaRobo/ComputerVision.git
[submodule "wheelchair_speech"]
	path = wheelchair_speech
	url = https://github.com/AquaRobo/wheelchair_speech.git

